.footer{
    width:100vw;
    height: 8vh;
    flex-shrink: 0;
    background-color: #FFF !important;
    text-align: center;
    margin-top: 8vh;
    padding-top: 3vh;
    color: #000;
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}
.foot-icons{
    position:absolute;
    right:25px;
}
.foot-icon{
    margin: left 10px;
    margin-right: 10px;
    color: #000;
}